
<div class=error-bg style=background-image:url(./frontend/img/content/par5.png)>
    <div class=container>
        <div class=error>
            <h1>404</h1>
            <h2>Page not Found</h2>
            <h4>We're sorry, but the page you were looking for doesn't exist.</h4>
            <a href=index class="button-xs dark-button mb-15 mt-20">Back Home</a>
        </div>
    </div>
</div>
<a href=# class=scroll-to-top>
    <i aria-hidden=true class="fa fa-angle-up"></i>
</a>

