

<div class=page-title style=background-position:center id="page-title">
    <div class=container>
        <h1>About</h1>
        <ul>
            <li>
                <a href=index>Home</a>
            <li>
                <a href=about>About</a>
        </ul>
    </div>
</div>




<div class=section-block id="ourMession" style="display: none;">
</div>


<div class=section-block-parallax style id="aboutSection3">
    
</div>
<div class=section-block id="ourVideo">

</div>


<div class=section-block-grey id="ourTeam" style="display: none;">
   
</div>

<!--

<div class=section-block id="ourMission">
</div>


<div class=section-block-parallax style id="aboutSection3">
    <div class=container >
        <div class=row>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <img  src id="aboutSection2">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="purchase">
            </div>
        </div>
       
    </div>
</div>









<div class=section-block>
    <div class=container id="portfolio">
</div>
    </div>
</div>



-->
