<div class=page-title style=background-position:center id="page-title">
    <div class=container>
        <h1>Contact</h1>
        <ul>
            <li>
                <a href=/index>Home</a>
            <li>
                <a href=/services>Contact</a>
        </ul>
    </div>
</div>


<div class=section-block>
    <div class=container id="infoContainer">
        
    </div>
</div>
<div class=section-block-grey>
    <div class=container>
        <div class="center-holder section-heading">
            <h2>Let's Talk about your business</h2>
            <div class=heading-line></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et
                dolore magna aliqua.
        </div>
        <div>
            <form class=contact-form action="contactForm" method=post>
                <div class=row>
                    <div class="col-xs-12 col-sm-6 col-md-6"><input name=email placeholder="E-mail adress" type=email required>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6"><input name=phone placeholder="Phone Number" required></div>
                    <div class=col-xs-12><textarea name=message placeholder="Your Message" required></textarea></div>
                    <div class=center-holder><button class="button-xs dark-button mb-15 mt-20" type=submit>Send
                            Message</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
