<div class=page-title style=background-position:center id="page-title">
    <div class=container>
        <h1>Projects</h1>
        <ul>
            <li>
                <a href=/index>Home</a>
            <li>
                <a href=/projects>projects</a>
        </ul>
    </div>
</div>

<div class="section-block " id="ourPortfolio" style="display: none;">
    
</div>


