<div class="leftside-menu">
    
    <!-- LOGO -->
    <a href="index" class="logo text-center logo-light">
        <span class="logo-lg" >
            <img src alt="" height="50" id="logo">
        </span>
        <span class="logo-sm">
            <img src="" alt="" height="16" id="favicon">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="" alt="" height="50" id="logo">
        </span>
        <span class="logo-sm">
            <img src="" alt="" height="16" id="favicon">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge bg-danger float-end">admin</span>

                    <span> Dashboards </span>
                </a>
                <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="index">Analytics<span class="badge bg-warning text-dark float-end">under test</span></a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title side-nav-item">Apps</li>


            <li class="side-nav-item ">
                <a href="chat" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Chat </span>
                </a>
            </li>
            <li class="side-nav-item manager-only " >
                <a data-bs-toggle="collapse" href="#sidebarLanding" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                    <i class="uil-window"></i>
                    <span>Landing page </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarLanding">
                    <ul class="side-nav-second-level">
                       
                        <li>
                            <a href="landing">landing</a>
                        </li>
                       
                        <li>
                            <a href="assetss">asstes</a>
                        </li>
                        

                    </ul>
                </div>
            </li>
            <li class="side-nav-item manager-only">
                <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                    <i class="uil-globe"></i>

                    <span> Pages </span>

                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPages">
                    <ul class="side-nav-second-level">
                        <li>
                            
                            <a href="pages">Custom page
                            </a>
                        </li>
                        <li>
                            <a href="menu-builder">Header - menu<span class="badge bg-warning text-dark float-end">under test</span></a>
                        </li>
                 
                    </ul>
                </div>
            </li>
            <li class="side-nav-item manager-only">
                <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                    <i class="dripicons-article"></i>
                    <span> Blog </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarEmail">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="all-blog">All blog</a>
                        </li>
                        <li>
                            <a href="add-blog">Add Blog</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item manager-only">
                <a href="categorys" class="side-nav-link">
                    <i class="uil-folder-plus"></i>
                    <span > Category </span>
                </a>
            </li>
            <li class="side-nav-item ">
                <a data-bs-toggle="collapse" href="#sidebarExtendedUI" aria-expanded="false" aria-controls="sidebarExtendedUI" class="side-nav-link ">
                    <i class="dripicons-gear"></i>
                    <span> Settings </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarExtendedUI">
                    <ul class="side-nav-second-level">
                        <li class="admin-only">
                            <a href="settings">System settings<span class="badge bg-danger float-end">admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="profile">profile</a>
                        </li>
                     
                        
                    </ul>
                </div>
            </li>
            <li class="side-nav-item admin-only">
                <a  href="users"   class="side-nav-link">
                    <i class=" dripicons-user-group "></i>
                    <span class="badge bg-danger float-end">admin</span>
                    <span>manage users</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a  href="projects"  class="side-nav-link manager-only">
                    <i class="uil-package"></i>
                    <span> projects </span>
                    <span class="menu-arrow"></span>
                </a>
            </li>

            
        </ul>

        <!-- Help Box -->
        
        <!-- end Help Box -->
        <!-- End Sidebar -->


    </div>
    <!-- Sidebar -left -->

</div>